body {
    font-family: 'Akshar', sans-serif;
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: 600;
}

.page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    position: relative;
}

.background {
    opacity: 35%;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    background-image: url(assets/favicon/background.png);
    background-repeat: no-repeat;
}


.background img {
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.main-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.content-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer {
    background-color: #1d1d1bff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.footer,h1 {
    font-size: 30px;
}

#logo {
    width: 90%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#instagram {
    width: 100px;
    margin-top: 20px;
    transition: transform 0.3s ease;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#instagram:hover {
    transform: scale(1.05);
}

@media (min-width: 500px) {
    /* For tablets: */
    #logo {
        width: 80%;
    }
    .footer {
        height: 100px;
    }
    .footer,h1 {
        font-size: 30px;
    }
}

@media (min-width: 760px) {
    /* For tablets: */
    #logo {
        width: 70%;
    }
}
